
PORT=5000

CLIENT_URL=http://localhost:5173

JWT_ACCESS_SECRET=9f3d7a6b2c1e4f8a5d0c7b9e6a3f2d1c
JWT_REFRESH_SECRET=4c8e2f9a7b1d3e6f5a0c2b9d8e7f1a3b

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d




MONGODB_URI=mongodb+srv://username:password@cluster0.jhvitxu.mongodb.net/task_manage?retryWrites=true&w=majority